* {
    
    /* change font soon */
    background-color: black;
    font-family: "Comfortaa", cursive;
    color:whitesmoke; 
    text-align: center;
}
img {
    width: 50px
}


#socials {
    text-decoration: none;
}

#pfp { 
    width: 80px;
    border-radius: 50%;
}

#navbar {
    text-align:center;
}
